body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.whatsapp-icon:hover {
  background-color: #128c7e;
}

.whatsapp-icon i {
  font-size: 30px;
}
